- if field.values.count > 5
  .btn-group.btn-group-xs{"data-toggle" => "buttons"}
    = render 'form_enum4_values', field: field, form: form
- else
  .btn-group{"data-toggle" => "buttons"}
    = render 'form_enum4_values', field: field, form: form

